{% extends "base.html" %}
{% load widget_tweaks %}

{% block page_title %}
{% endblock page_title %}

{% block page_content %}
<div class="container">
    <h1 class="title has-text-centered">Login</h1>
    <div class="box">
        <form method="post">
            {% csrf_token %}
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    {{ form.username|add_class:"input" }}
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    {{ form.password|add_class:"input" }}
                </div>
            </div>
            <div class="field is-grouped is-grouped-centered">
                <div class="control">
                    <button type="submit" class="button is-primary">Login</button>
                </div>
            </div>
        </form>
    </div>
    <div class="has-text-centered mt-4">
        <p class="is-size-6">New Here?</p>
        <a href="{% url 'signup' %}" class="button is-link">Create an Account</a>
    </div>
</div>
{% endblock page_content %}
