{% extends "base.html" %}
{% load widget_tweaks %}

{% block page_title %}
{% endblock page_title %}

{% block page_content %}
<div class="container">
    <h1 class="title has-text-centered">Your Profile</h1>
    <div class="box">
        <div class="content">
            <h2 class="subtitle">User Information</h2>
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>

            {% if profile %}
                <h2 class="subtitle">Profile Details</h2>
                <p><strong>Bio:</strong> {{ profile.bio }}</p>
                <p><strong>Website:</strong> <a href="{{ profile.website }}" target="_blank">{{ profile.website }}</a></p>
                {% if profile.profile_picture %}
                    <figure class="image is-128x128">
                        <img src="{{ profile.profile_picture.url }}" alt="Profile Picture">
                    </figure>
                {% else %}
                    <p>No profile picture uploaded.</p>
                {% endif %}
            {% else %}
                <p>You have not set up your profile yet.</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="has-text-centered mt-4">
        <p class="is-size-6">Wanna head out for a walk?</p>
        <a href="{% url 'logout' %}" class="button is-link">logout</a>
    </div>
{% endblock %}
